* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.trash-btn {
  border-bottom: 1px solid;
  color: black;
  background: transparent;
  outline: none;
}
.pages {
  margin: auto;
}
